<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>

<div class="topnav">
        <a href="{{ url_for('searchword_by_id', userid=userid) }}" >SEARCH FOR WORD</a>
        <a href="{{ url_for('wordofday_by_id', userid=userid) }}">WORD OF THE DAY</a>
        <a class="active" href="{{ url_for('wordssearched_by_id', userid=userid) }}">PREVIOUSLY SEARCHED WORDS</a>
        <a href="{{ url_for('timed_word', userid=userid) }}">SCHEDULE A WORD</a>
        <a href="{{ url_for('index') }}">LOG OUT</a>
    </div>
{% block content %}


{% endblock %}
</body>
</html>