
{% extends "baseNav.html" %}

{% block title %}Search Word Page{% endblock %}


{% block content %}

    <br>
    <br>
    <br>
    <br>
    <h1>Search for word</h1>
    <h2>Hey, {{ firstname }}! Search for a word here: </h2>
    <form action= "{{ url_for('searchword_by_id', userid=userid) }}" method="POST">

        <input type="text" id="searchword" name="searchword"><br><br>
        <input type="submit" name="next" value="Search">
    </form>

    <br><br>
    {% if clicked %}
        <h2>
            {{ word_searched }}
        </h2>

    {% endif %}


{% endblock %}